  <div class="container-fluid ">

    <!-- Outer Row -->
    <div class="row justify-content-center ">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5 ">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                      
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "user"}) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>

                  <div class="form-group">
                        <%= f.label :login %>
                        <%= f.text_field :login, autofocus: true, autocomplete: 'login', :class => "form-control form-control-user", 
                        :id => "exampleInputEmail", :placeholder => "Enter Email Address..." %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, autocomplete: 'current-password', :class =>'form-control form-control-user' ,
                        :id => "exampleInputEmail", :placeholder => "password" %>         
                    </div>
                    <% if devise_mapping.rememberable? %>
                      <div class="form-group">
                          <div class="custom-control custom-checkbox small">
                        <%= f.check_box :remember_me, class: 'custom-control-input' %>
                        <%= f.label :remember_me, class: 'form-check-label' do %>
                        <%= resource.class.human_attribute_name('remember_me')%>
                          <%end%>
                      </div>

                    <% end %>

                    <div class="form-group">
                        <%=f.submit "Signin", class: 'btn btn-primary btn-user btn-block' %>
                      </div>
                      <%end%>

                      <%= render 'devise/shared/links' %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>